
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<td class="text-right">
<div class="btn-group" role="group">
    <a action="" type="button" class="btn btn-group"
       href="@Url.Action("Edit/"+Model)">
        <i class="far fa-edit">
        </i>
        <form action="Delete" method="post">
            <button onclick="if (!confirm('Are you sure you want to delete?')) { return false;}">

            </button>
        </form>
    </a>
</div>
</td>