
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    <div class="col-sm-6">
        <h2 class="text-info">
            Make of vechiles
        </h2>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-info" asp-action="Create">
            <i class="fas fa-motorcycle"></i>
            Add New Make
        </a>
    </div>
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr class="table-info">
                    <th>
                        @*@Html.DisplayNameFor(x=>x.Name)*@
                        Bike Photo
                    </th>
                    <th>
                        Bike Detail
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewBag.PriceSort"
                           asp-route.pageNumber="@Model.PagNumber">
                            Price
                        </a>
                    </th>
                    <th>
                        Seller Information
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.Data)
                {
                <td>
                    @item.Name
                </td>
                }

            </tbody>
        </table>
    </div>
</div>
<partial name="_PaginationPartial" model="Model"></partial>

<cs-pager
          cs-paging-pageNumber="(int)Model.PageNumber"
          cs-paging-totalitems="(int)Model.TotalItems"
          cs-paging-pagesize="Model.PageSize"
          cs-pagenumber-param="pagenumber"
          asp-controller="bike"
          asp-action="Index"
          cs-pager-li-current-class="page-item-active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link"
          >
</cs-pager>